div.username_container {
  display: inline;
  float: left;
}

div.auth_container {
}

div.logout_container {
  display: inline;
  float: right;
}

div.link_container {
  display: inline-block;
  float: left;
  width: 50%;
}
