.links {
  float:left;
  width:50%;
  display: inline-block;
  margin: 0 auto;
  border-style: none, solid, none, none;
}
.views {
  float:right;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}
