body {
  font-family: "Markazi Text", serif;
  text-align: center;
}
ul.user_bar {
    background-color:#4CAF50;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav {
  background-color:#FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.nav_link {
  display: inline;
  list-style-type: none;
  font-size: 24px;
  margin-left: 7%
}

img.logo_breca {
  height: 50px;
  display: inline;
}
div.links {
  float:left;
  width:50%;
  display: inline-block;
  margin: 0 auto;
  border-style: none, solid, none, none;
}
div.views {
  float:right;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

form.form_container {
  display: inline;
  position: relative;
}

div.dataframe_container {
  margin-left:25%;
  margin-right:25%;
}

div.plots_container {
  margin-left: 10%;
  margin-right: 25%;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loader.active {
  display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
