body {
  font-family: "Markazi Text", serif;
  text-align: center;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
ul {
    background-color:#4CAF50;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.username_li {
  display:inline;
  float:left;
  padding-left: 5px;
  margin-right:38%;
}

li.logout_li {
  display:inline;
  margin-left: 50%;
}
div.links {
  float:left;
  width:50%;
  display: inline-block;
  margin: 0 auto;
  border-style: none, solid, none, none;
}
div.views {
  float:right;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

form.form_container {
  display: inline;
  position: relative;
}

div.plots_container {
  margin: auto;
}

div.dataframe_container {
  margin: auto;
  padding-left: 33%;
}
